.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  min-height: 67px;
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: black;
  max-height: 110px;
}
.nav a{
  text-decoration: none;
  color: black;
}
.nav a:visited{
  color: black;
}
.navMenu{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  margin-left: 32px;
  position: relative;
  z-index: 1000;
}
.logo{
  margin-right: 35px;
  font-weight: 900;
  font-size: 1.9rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logoImg{
  margin: 5px 0;
}
.navLinks{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: relative;
}
.dropDown{
  color: black;
  padding: 20px;
  text-decoration: none;
}
.dropDown ul{
  list-style: none;
  /* border: 2px solid white; */
}
.liItem{
  display: flex;
  gap: 10px;
  border: 2px solid white;
}
.liItem:hover{
  border: 2px solid rgb(136, 0, 255);
  cursor: pointer;
}
.icon{
  font-size: 1.5rem;
  height: 85px;
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 5px;
}
.descriptionCont{
  width: 100%;
  padding: 15px 0;
  font-size: 0.9rem;
}
.title{
  margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: .044em;
}
.navLinks .dropDown{
  content: '';
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 350px;
  background-color: white;
  z-index: 5;
}

.navLinks:hover .dropDown{ /* Hover here */
  display: block;
}
.btnCont{
  display: flex;  
}
.btn {
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 16px 32px;
  margin: 16px 32px;
  text-decoration: none;
  letter-spacing: 2px;
}
.smallMenu{
  display: none;
}


@media screen and (max-width: 600px){

  .navMenu{
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 10px;
  }
  .smallMenu {
    display: block;
    font-size: 1.4rem;
    line-height: 0;
    cursor: pointer;
    position: relative;
    order: 1;
  }
  .logo{
    order: 2;
    margin-right: 0;
  
  }
  
  .smallMenuDropDown {
    /* display: none;  */
    position: absolute;
    top: 100%;
    left: -10px;
    width: 200px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .smallMenuDropDown ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
  }
  .smallMenuDropDown ul li{
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    
  }

  .smallMenuDropDown ul li:last-child{
    border-bottom: none;
  }
  .smallMenuDropDown.hide{
    display: none;
  }
  .navLinks{
    display: none;
  }
  
  .btn{
    display: none;
  }

}