.container{
  /* border: 1px red solid; */
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}
.container.reverse{
  flex-direction: row-reverse;
}
.blockLeft{
  width: 55%;
  object-fit: cover;
}
.img{
  width: 100%;
  overflow: hidden;
}
.blockRight{
  width: 40%;
  display: flex;
}

.highContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
  overflow: visible;
  padding: 40px;
}
.new{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 30px;
}
.description{
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  letter-spacing: .02rem;
}
.btn{
  width: 190px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 1.06rem;
  padding: 16px 32px;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .container.reverse{
    flex-direction: column;
  }
  .blockLeft{
    width: 100%;
    object-fit: cover;
  }
  .blockRight{
    width: 100%;
  }

}
@media screen and (max-width: 376px){
  .container.reverse{
    flex-direction: column;
  }
  .blockRight{
    width: 100%;
    object-fit: cover;
  }
}