.container{
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 6;
  /* border: 1px solid red; */
}
/* .container::before{
  content: '';
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background-5.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; 
  z-index: -1; 
  filter: grayscale(100%);

  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%,  rgba(0, 0, 0, 0) 100%),
  url('/background-5.png');
} */
.container.reverse{
  flex-direction: row-reverse;
}
.blockLeft{
  width: 55%;
  object-fit: cover;
}
.img{
  width: 100%;
  overflow: hidden;
}
.blockRight{
  width: 40%;
  display: flex;
}

.highContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
  overflow: visible;
  padding: 30px;


}
.new{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 30px;
}
.description{
  font-size: 1rem;
  margin-bottom: 2.5rem;
  letter-spacing: .02rem;
}
.btn{
  width: 190px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 1.06rem;
  padding: 16px 32px;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .container.reverse{
    flex-direction: column;
  }
  .blockLeft{
    width: 100%;
    object-fit: cover;
  }
  .blockRight{
    width: 100%;
  }

}
@media screen and (max-width: 376px){
  .container.reverse{
    flex-direction: column;
  }
  .blockRight{
    width: 100%;
    object-fit: cover;
  }
}
