.container {
  width: 100vw;
  overflow: hidden;
  /* border: 1px solid red; */
}

.loop {
  display: inline-flex;
  align-items: center;
  animation: scroll 55s linear infinite;
}
/* the image container should include the gap so it will prevent bumps */
.imgCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  height: 100px;
  /* border: 1px solid blue; */
  object-fit: cover;
}
.img{
  /* border: 1px solid green; */
  height: 50px;
  object-fit: cover;
}
/* calculate the size of each image * by the number of images here will be -2400px which is exact double of the images */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 8))}
}
@media screen and (max-width: 768px) {
  .loop{
    animation: scroll 65s linear infinite;
  }
}