.container {
  width: 100vw;
  overflow: hidden;
}

.loop {
  display: inline-flex;
  align-items: center;
  gap: 100px;
  animation: infiniteLoop 30s linear infinite;
}
.clients{
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 1px;
}
.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.img {
  opacity: 0.9;
  width: auto;
  height: 80px;
}

@keyframes infiniteLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}