*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white;
  min-height: 100vh;
  font-family: 'outfit';
  /* border: 1px solid red; */
}

.footer{
  flex-shrink: 0;
  background-color: #9e9e9e;
  padding: 10px;
}
