
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
html, body {
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white;
  min-height: 100vh;
  font-family: 'outfit';
  /* border: 1px solid red; */
}
.content{
  padding-top: 110px;
}
.footer{
  flex-shrink: 0;
  padding: 10px;
}
.toast{
  z-index: 5000;
}
@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 60px; /* Adjusted for mobile */
  }
}