.container{
  margin: 0 40px;
  background-color: rgb(28, 28, 28);
  padding: 50px;
  border-radius: 10px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 600px;
}
.description{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profilePic{
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0 0 25px rgba(255, 105, 180, 0.5))
}